@model BugTracker.Models.ViewModels.Project.AddProjectFormModel

@{
    ViewData["Title"] = "Add";
}

<div class="container">
<div class="row mt-5">
    <div class="mt-5 offset-sm-2  col-lg-8 col-sm-12 offset-xl-3 col-xl-6">

        <h2>Add Project</h2>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter name here.."/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" placeholder="Enter description here.."/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" asp-format="{0:dd-MM-YYYYHH:mm}"/>
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" asp-format="{0:dd-MM-YYYYHH:mm} "/>
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
