@model ICollection<BugTracker.Models.ServiceModels.Department.DepartmentServiceModel>

<div class="row">
    @foreach (var deparment in @Model)
    {
        <div class="offset-lg-3 col-md-5">
            <a asp-controller="Department" asp-action="Department" asp-route-departmentId="@deparment.Id" asp-area="" class="btn btn-secondary text-center">@deparment.Name</a>
        </div>
    }
</div>