@model BugTracker.Models.ServiceModels.Department.DepartmentListModel

<div class="list-group">
    @foreach (var deparment in @Model.Departments)
    {

        <div class="mt-2 mb-2">
         <a asp-controller="Department" asp-action="Department" asp-route-departmentId="@deparment.Id" asp-area="" class="btn btn-secondary text-center">@deparment.Name</a>
         </div>
    }
</div>