@{
    ViewData["Title"] = "Home Page";
}
<row>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/HomePagePic/Business-Control.png" class="d-block w-100" alt="Fist slide">
            </div>
            <div class="carousel-item">
                <img src="/HomePagePic/54-Commitment-to-Work.jpg" class="d-block w-100" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img src="/HomePagePic/Teamwork-Team-Together-Everyone-Acheives-More.png" class="d-block w-100" alt="Second slide">
            </div>
        </div>
    </div>
</row>
